---
import githubLogo from "../assets/icons/github.svg";
import arrowRight from "../assets/icons/arrow-right.svg";
const { title, description, linkWebsite, linkGithub, image, status, badges} = Astro.props;

import Badge from "./Badge.astro";
---

<article class="bg-gray-800 rounded-lg shadow-lg h-[800] lg:h-[400px] flex flex-col-reverse lg:flex-row overflow-hidden">
    <div class=" lg:w-1/2 p-3 sm:p-6 relative flex flex-col">
        <h3 class="text-3xl mb-3">{title}</h3>
        <span class="absolute right-4 sm:right-7 top-4 sm:top-7 inline-flex items-center border text-gray-400 text-xs font-medium px-2.5 py-0.5 rounded-full dark:bg-green-900 dark:text-green-300">
            { status === "En progreso" ? <span class="w-2 h-2 me-1 bg-aceent rounded-full"></span> : <span class="w-2 h-2 me-1 bg-green-500 rounded-full"></span>}
            {status}
        </span>
        <p class="text-balance mb-3">{description}</p>
        <div class="flex flex-wrap align-center gap-2 mb-5">
            {badges.map((badge: string) => (
                <Badge name={badge} />
            ))}

        </div>
        <div class="flex align-center gap-x-4 mt-auto">
            <a href={linkGithub} class="flex p-2 bg-primary rounded-lg border border-gray-300 hover:bg-purple-600 transition duration-300 ease-in-out"><img src={githubLogo.src} alt="Logo de github" width="24" height="24" class="me-3">GitHub</a>
            { status === "Completado" ? 
                <a href={linkWebsite} class="flex p-2 bg-primary rounded-lg border border-gray-300 hover:bg-purple-600 transition duration-150 ease-in-out">
                    <img src={arrowRight.src} alt="Flecha apuntando arriba a la izquierda" class="me-3"> Ver proyecto
                </a> : null}
        </div>
    </div>
    <figure class=" lg:w-1/2 p-3 sm:p-6 bg-primary-light z-10">
        <img src={image.src} alt="Imagen de un proyecto" class="w-full h-full object-contain rounded-lg"/>

    </figure>
</article>