---
import astroLogo from '../assets/technologies/astro.svg';
import bootstrapLogo from '../assets/technologies/bootstrap.svg';
import cssLogo from '../assets/technologies/css3.svg';
import dartLogo from '../assets/technologies/dart.svg';
import gitLogo from '../assets/technologies/git.svg';
import htmlLogo from '../assets/technologies/html5.svg';
import javascriptLogo from '../assets/technologies/javascript.svg';
import laravelLogo from '../assets/technologies/laravel.svg';
import mysqlLogo from '../assets/technologies/mysql.svg';
import nodejsLogo from '../assets/technologies/nodejs.svg';
import phpLogo from '../assets/technologies/php.svg';
import postmanLogo from '../assets/technologies/postman.svg';
import tailwindLogo from '../assets/technologies/tailwindcss.svg';

import bgPattern from '../assets/bg-pattern.webp';

import Technologie from '../components/Technologie.astro';
---
<section id="tecnologies" class=" p-section-mobile md:p-section-table lg:p-section 2xl:p-section-desktop relative">
    <div class="absolute m-auto blur-[160px] max-w-xs h-[13rem] top-12 inset-0 z-[-10]" style="background:linear-gradient(180deg, #7C3AED 0%, rgba(152, 103, 240, 0.984375) 0.01%, rgba(237, 78, 80, 0.2) 100%)"></div>
    <img src={bgPattern.src} alt="Fondo de tecnologías" class="absolute inset-0 z-[-10] w-full h-full object-cover m-auto" style=""/>
    <h2 class="text-center underline underline-offset-4 decoration-aceent my-10">Tecnologías y herramientas</h2>

    <div class=" flex flex-wrap justify-center  gap-4 md:gap-16">
        <Technologie logo={laravelLogo.src} nombre="Laravel"/>
        <Technologie logo={htmlLogo.src} nombre="HTML5"/>
        <Technologie logo={phpLogo.src} nombre="PHP"/>
        <Technologie logo={cssLogo.src} nombre="CSS3"/>
        <Technologie logo={astroLogo.src} nombre="Astro"/>
        <Technologie logo={bootstrapLogo.src} nombre="Bootstrap"/>
        <Technologie logo={tailwindLogo.src} nombre="Tailwind"/>
        <Technologie logo={javascriptLogo.src} nombre="JavaScript"/>
        <Technologie logo={dartLogo.src} nombre="Dart"/>
        <Technologie logo={mysqlLogo.src} nombre="MySQL"/>
        <Technologie logo={nodejsLogo.src} nombre="NodeJS"/>
        <Technologie logo={postmanLogo.src} nombre="Postman"/>
        <Technologie logo={gitLogo.src} nombre="Git"/>
    </div>
</section>